/**/*.o
/**/*~
/.vs/
/RandomX_Miner.VC.db
/RandomX_Miner/x64/
/packages/
/x64/
/RandomX_Miner.VC.VC.opendb
RandomX_Miner/RandomX_Miner.vcxproj.user
RandomX_Miner/version.aps
/params.txt
/RandomX_Miner/Release/
/Release/
/Debug/
/RandomX_Miner/Debug/
RandomX_Miner/RandomX_Miner.xcodeproj/project.xcworkspace
mac/RandomX_Miner.xcodeproj/project.xcworkspace
