/**/*.o
/**/*~
/.vs/
/.idea
/RandomX_Miner.VC.db
/packages/
/x64/
/Release/
/Debug/
/RandomX_Miner.VC.VC.opendb
RandomX_Miner/RandomX_Miner.vcxproj.user
RandomX/vcxproj/randomx.vcxproj.user
RandomX_Miner/version.aps
/params.txt
/RandomX_Miner/x64/
/RandomX_Miner/Release/
/RandomX_Miner/Debug/
RandomX/vcxproj/x64/
RandomX/vcxproj/Release/
RandomX/vcxproj/Debug/
RandomX_Miner/RandomX_Miner.xcodeproj/project.xcworkspace
mac/RandomX_Miner.xcodeproj/project.xcworkspace
/cmake-build-debug
/cmake-build-release